.app {
  max-width: 1120px;
  margin: 0px auto 250px;
  display: flex;
  justify-content: space-between;
}

.app__form {
  padding: 150px 100px 0 0;
}

.app__title {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  margin-bottom: 20px;
}

.app__text {
  font-family: 'Mulish', sans-serif;
  color: #7D7987;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 40px;
}

.app__btn {
  width: 164px;
  height: 48px;
  color: white;
  background-color: #FB8F1D;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease-out;

  &:hover {
    color: #FB8F1D;
    background-color: white;
  }

  &:active {
    color: white;
    background-color: #FB8F1D;
  }
}