* {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  box-sizing: border-box;
}

.header {
  max-width: 1178px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  padding: 44px 0;
}

.menu__link {
  color: #B8BECD;
  text-decoration: none;
  padding: 12px 18px;
}

.menu__link_selected {
  color: #202336;
}

.menu__link:hover {
  text-shadow: 2px 2px 5px #B8BECD;
}

.menu__link:active {
  color: #202336;
}

.menu__login-btn {
  width: 132px;
  height: 44px;
  color: #FB8F1D;
  background-color: white;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  margin-right: 18px;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
}

.menu__login-btn:hover {
  color: white;
  background-color: #FB8F1D;
}

.menu__login-btn:active {
  color: #FB8F1D;
  background-color: white;
}

.menu__register-btn {
  width: 132px;
  height: 44px;
  color: white;
  background-color: #FB8F1D;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
}

.menu__register-btn:hover {
  color: #FB8F1D;
  background-color: white;
}

.menu__register-btn:active {
  color: white;
  background-color: #FB8F1D;
}

.login__container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  visibility: hidden;
  transition: background-color 0.2s ease-out;
}

.login__container.visible {
  visibility: visible;
}

.login {
  background-color: white;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  min-width: 450px;
  position: relative;
}

.login__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.login__header {
  font-weight: bold;
  font-size: 22px;
  color: #202336;
  padding: 40px 0;
}

.user-login-label,
.user-password-label {
  display: block;
  font-weight: 600;
  font-size: 17px;
  color: #042521;
  padding-bottom: 10px;
}

.user-login-input,
.user-password-input {
  width: 220px;
  height: 37px;
  border: 1px solid #AFB0B9;
  border-radius: 6px;
  margin-bottom: 10px;
}

.forgot-password {
  display: block;
  color: #FB8F1D;
  text-decoration: none;
  font-size: 17px;
  padding: 15px 0 25px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-submit-btn {
  width: 132px;
  height: 44px;
  color: white;
  background-color: #FB8F1D;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
  margin-bottom: 20px;
}

.login-submit-btn:hover {
  color: #FB8F1D;
  background-color: white;
}

.login-submit-btn:active {
  color: white;
  background-color: #FB8F1D;
}


.register__container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  visibility: hidden;
  transition: background-color 0.2s ease-out;
}

.register__container.visible {
  visibility: visible;
}

.register {
  background-color: white;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  min-width: 450px;
  position: relative;
}

.register__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.register__header {
  font-weight: bold;
  font-size: 22px;
  color: #202336;
  padding: 40px 0;
}

.user-register-label,
.user-new-password-label {
  display: block;
  font-weight: 600;
  font-size: 17px;
  color: #042521;
  padding-bottom: 10px;
}

.user-register-input,
.user-new-password-input {
  width: 220px;
  height: 37px;
  border: 1px solid #AFB0B9;
  border-radius: 6px;
  margin-bottom: 10px;
}

.register-submit-btn {
  width: 132px;
  height: 44px;
  color: white;
  background-color: #FB8F1D;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
  margin: 15px 0 20px;
}

.register-submit-btn:hover {
  color: #FB8F1D;
  background-color: white;
}

.register-submit-btn:active {
  color: white;
  background-color: #FB8F1D;
}

.search {
  max-width: 1178px;
  margin: 80px auto 286px;
  display: flex;
  justify-content: space-between;
}

.search__title {
  font-family: 'Playfair Display', serif;
  font-size: 64px;
  line-height: 80px;
  color: #202336;
  margin-bottom: 74px;
}

.search__subtitle {
  font-weight: bold;
  font-size: 22px;
  color: #202336;
  margin-bottom: 21px;
}

.search__rectangle {
  width: 32px;
  height: 2px;
  background: #202336;
  border-radius: 4px;
  margin-bottom: 48px;
}

.search__form {
  display: flex;
  max-width: 470px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.select-wrapper:hover {
  border-color: #FB8F1D;
}

.select-wrapper {
  position: relative;
  width: 220px;
  height: 52px;
  border-radius: 6px;
  margin-bottom: 30px;
  cursor: pointer;
}

.select-wrapper.opened {
  z-index: 101;
}

.select-wrapper.opened-down .select {
  border-radius: 8px 8px 0 0;
  border-bottom-color: white;
}

.select-wrapper.opened-up .select {
  border-radius: 0 0 8px 8px;
  border-top-color: white;
}

.select-wrapper.opened .dropdown {
  visibility: visible;
}

.select-wrapper.opened-up .dropdown {
  bottom: 100%;
  border-radius: 6px 6px 0 0;
  border-bottom: none;
  margin-bottom: -2px;
}

.select-wrapper.opened-down .dropdown {
  top: 100%;
  border-radius: 0 0 6px 6px;
  border-top: none;
}

.select-wrapper.opened .arrow {
  transform: rotate(180deg);
}

.select {
  padding: 16px 30px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #AFB0B9;
  border-radius: 8px;
  overflow: hidden;
  user-select: none;
}

.select-text {
  color: #4A4C53;
}

.dropdown {
  position: absolute;
  z-index: 101;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #AFB0B9;
  width: 220px;
  max-height: 210px;
  overflow: auto;
  scrollbar-width: thin;
}

.dropdown::-webkit-scrollbar {
  width: 10px;
}

.dropdown::-webkit-scrollbar-thumb {
  background-color: #AFB0B9;
  border-radius: 15px;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

.dropdown::-webkit-scrollbar-thumb:hover {
  background-color: #4A4C53;
}

.dropdown__item {
  display: block;
  color: #4A4C53;
  padding: 16px 30px;
  cursor: pointer;
}

.dropdown__item:hover {
  background-color: #F9F9FB;
}

.overlay {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

.overlay.visible {
  visibility: visible;
}

.search__btn {
  width: 180px;
  height: 52px;
  color: white;
  background-color: #FB8F1D;
  align-items: center;
  border: 1px solid #FB8F1D;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
}

.search__btn:hover {
  color: #FB8F1D;
  background-color: white;
}

.search__btn:active {
  color: white;
  background-color: #FB8F1D;
}

.search__image {
  left: 140px;
  bottom: 53px;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.about {
  max-width: 1178px;
  margin: 0px auto 290px;
  display: flex;
  justify-content: space-between;
}

.about__image {
  position: relative;
  right: 50px;
}

.about__form {
  padding: 90px 0 0 50px;
}

.about__title {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 20px;
}

.about__text {
  font-family: 'Mulish', sans-serif;
  color: #7D7987;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 40px;
}

.about__btn {
  width: 164px;
  height: 48px;
  color: white;
  background-color: #FB8F1D;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
}

.about__btn:hover {
  color: #FB8F1D;
  background-color: white;
}

.about__btn:active {
  color: white;
  background-color: #FB8F1D;
}

.destinations {
  max-width: 1120px;
  margin: 0px auto 230px;
  display: flex;
  flex-direction: column;
}

.desinations__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.destinations__title {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
}

.destinations__link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.link-text {
  color: #FB8F1D;
  text-decoration: none;
  font-size: 17px;
  margin-right: 8px;
}

.link-text:hover {
  text-decoration: underline;
}

.destinations__items {
  display: flex;
  justify-content: space-between;
}

.destinations__block {
  position: relative;
}

.destinations__image {
  display: block;
  border-radius: 8px;
}

.destinations__text-block {
  background-color: white;
  position: absolute;
  height: 56px;
  min-width: 120px;
  bottom: 0;
  border-radius: 0 8px;
}

.destinations__city {
  display: block;
  padding-top: 10px;
  font-weight: 600;
  font-size: 17px;
  color: #042521;
}

.destinations__country {
  display: block;
  padding-top: 5px;
  color: #7D7987;
}

.app {
  max-width: 1120px;
  margin: 0px auto 250px;
  display: flex;
  justify-content: space-between;
}

.app__form {
  padding: 150px 100px 0 0;
}

.app__title {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  margin-bottom: 20px;
}

.app__text {
  font-family: 'Mulish', sans-serif;
  color: #7D7987;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 40px;
}

.app__btn {
  width: 164px;
  height: 48px;
  color: white;
  background-color: #FB8F1D;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
}

.app__btn:hover {
  color: #FB8F1D;
  background-color: white;
}

.app__btn:active {
  color: white;
  background-color: #FB8F1D;
}

.testimonials {
  max-width: 1120px;
  margin: 0px auto 285px;
  display: flex;
  justify-content: space-between;
}

.testimonials__form {
  padding-right: 170px;
}

.testimonials__title {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  margin-bottom: 145px;
}

.testimonials__stars {
  margin-bottom: 30px;
}

.star {
  margin-right: 15px;
}

.testimonials__text {
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 40px;
}

.testimonials__name {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}

.testimonials__profession {
  font-size: 18px;
}

.testimonials__block {
  margin: 110px 120px 0 0;
  position: relative;
}

.testimonials__images {
  width: 384px;
  height: 491px;
  overflow: hidden;
  position: relative;
}

.testimonials__carousel {
  display: flex;
  transition: transform 0.5s ease-out;
}

.testimonials__image {
  display: block;
  border-radius: 8px;
  width: 384px;
  height: 491px;
  margin-right: 10px;
}

.testimonials__btn-block {
  background-color: white;
  position: absolute;
  height: 60px;
  width: 132px;
  bottom: 0;
  right: 0;
  border-radius: 8px 0 0 0;
}

.previous {
  display: none;
  position: relative;
  top: 20px;
  left: 30px;
}

.next {
  display: none;
  position: relative;
  top: 20px;
  left: 48px;
}

.previous.active,
.next.active {
  cursor: pointer;
}

.previous.display, 
.next.display {
  display: inline;
}

.trend {
  max-width: 1120px;
  margin: 0px auto 271px;
  display: flex;
  flex-direction: column;
}

.trend__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.trend__title {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
}

.trend__link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.trend__items {
  display: flex;
  justify-content: space-between;
}

.trend__block {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  position: relative;
}

.trend__image {
  border-radius: 8px 8px 0 0;
}

.trend__text-block {
  padding: 13px 20px 0 0;
  background-color: white;
  position: absolute;
  top: 231px;
}

.block-title {
  display: block;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 13px;
}

.block-text {
  display: block;
  font-size: 15px;
  line-height: 26px;
  color: #7D7987;
  margin-bottom: 23px;
}

.footer {
  background-color: #F9F9FB;
}

.footer__container {
  max-width: 1178px;
  margin: 0px auto;
}

.footer__block {
  display: flex;
}

.footer__info {
  padding-right: 90px;
}

.footer__logo {
  padding: 78px 0 26px;
}

.footer__text {
  display: block;
  font-family: 'Mulish', sans-serif;
  color: #848484;
  font-size: 18px;
  line-height: 28px;
  padding: 0 40px 55px 0;
}

.footer__rights {
  display: block;
  font-family: 'Mulish', sans-serif;
  color: #848484;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 80px;
}

.footer__destinations {
  padding-right: 160px;
}

.footer__shop {
  padding-right: 120px;
  white-space: nowrap;
}

.footer__interests {
  white-space: nowrap;
}

.footer__title {
  font-weight: bold;
  padding: 80px 0 25px;
  font-family: 'Mulish', sans-serif;
  font-size: 19px;
}

.footer__link {
  display: block;
  font-family: 'Mulish', sans-serif;
  color: #848484;
  font-size: 19px;
  text-decoration: none;
  padding-bottom: 17px;
}

.footer__link:hover {
  text-shadow: 2px 2px 5px #AFB0B9;
}

.footer__link:active {
  color: #202336;
}

.footer__rectangle {
  max-width: 1219px;
  height: 0.6px;
  background: #C4C4C4;
  border-radius: 4px;
}

.footer__social {
  display: flex;
  justify-content: center;
  padding: 33px 0;
  align-items: flex-end;
}

.social-icon {
  padding: 0 17px;
}